// Write (or import) your styles here

.app-header.navbar .navbar-brand img {
    max-width: 20px;
    max-height: 20px;
}

.badge-awaiting {
    background: rgb(240, 177, 16);
    color: #fff;
}

.badge-approved {
    background: rgb(69, 206, 1);
    color: #fff;
}

.badge-revise {
    background: rgb(147, 39, 255);
    color: #fff;
}

.badge-deleted {
    background: rgb(38, 38, 38);
    color: #fff;
}

.badge-rejected {
    background: rgb(186, 2, 2);
    color: #fff;
}

.cropper {
    height: 600px;
    width: auto;
    background: #ddd;
}
